<header class="header">
  <div class="container">
   <div class="header__top">
     <div class="logo">
       <a href="#">
         <img src="img/logo.svg" alt="logo">
         <span>Cool Barber</span>
       </a>
     </div>
     <nav class="nav">
       <ul class="nav__list list-reset">
         <li class="nav__item">
           <a class="nav__link" href="#">
            О нас
           </a>
         </li>
         <li class="nav__item">
           <a class="nav__link" href="#">
            Мастера
           </a>
         </li>
         <li class="nav__item">
           <a class="nav__link" href="#">
            Отзывы
           </a>
         </li>
         <li class="nav__item">
           <a class="nav__link" href="#">
            Контакты
           </a>
         </li>
       </ul>
     </nav>

     <div class="header-contacts">
      <a class="header-contacts__link contacts-address" href="" >
        <span class="contacts-link__caption">
         Москва, Будапештсткая, 37
        </span>
      </a>
      <a class="header-contacts__link contacts-record" href="tel:88000000000" >
        <span class="contacts-link__caption contacts-tel">
          8 (800) 000-00-00
        </span>
        <span class="contacts-link__caption ">
          Ежедневно с 9 до 20
        </span>
      </a>
     </div>

   </div>
    </div>
  </div>
</header>
